DATABASE_URL="postgresql://postgres:password@localhost:5433/dailyflow"

JWT_ACCESS_TOKEN_SECRET=""
JWT_ACCESS_TOKEN_EXPIRATION_TIME="15m"
JWT_REFRESH_TOKEN_SECRET=""
JWT_REFRESH_TOKEN_EXPIRATION_TIME="7d"

## Docker   
DB_CONTAINER_NAME="dailyflow-db"
APP_CONTAINER_NAME="dailyflow-api"
APP_PORT="3000"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD=""
POSTGRES_DB="dailyflow"
POSTGRES_PORT="5433"
DB_VOLUME_NAME="dailyflow_pgdata"