DATABASE_URL="postgresql://postgres:password@localhost:5433/dailyflow"

JWT_ACCESS_TOKEN_SECRET=""
JWT_ACCESS_TOKEN_EXPIRATION_TIME="15m"
JWT_REFRESH_TOKEN_SECRET=""
JWT_REFRESH_TOKEN_EXPIRATION_TIME="7d"